.media-container-row {
    display: flex;
  }
  
.column {
    width: 50%;
  }

#video, #output-video {
  border: 1px solid #000; 
}

#controls {
  display: flex;
justify-content: center;
  align-items: center;
}

#playpause, #refresh {
  height:100px;
  width:250px;
}