.media-container-row {
  display: flex;
}

.column {
  width: 50%;
}

#video,
#output-video {
  border: 1px solid #000;
}

#controls{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%; 
  margin: 0 auto;
}

#playpause,
#refresh,
#next-frame,
#reload {
  height: 100px;
  width: 250px;
}

/* #playpause,
#next-frame {
  width: 30%
} un-comment this if using next frame button */

#loading-screen {
  text-align: center; 
  margin: 0 auto;     
  font-weight: bold;  
}

#loading-screen p {
  font-weight: bold;  
}