.media-container-row {
    display: flex;
  }
  
.column {
    width: 50%; /* adjust widths as needed */
  }

#video, #snapshot {
  border: 1px solid #000; /* adjust thickness and color */
}


#controls {
  display: flex;
justify-content: center;
  align-items: center;
}

#playpause {
  height:100px;
  width:250px;
}