<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zooming Video</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <div class="media-container-row">

        <video id="video" class="column">
            <source src="{{ url_for('static', filename='imgs/walking_vid_output.mp4') }}" type="video/mp4">
        </video>

        <video class="column" id="output-video">  <!--id="output-video" -->
            <!-- <source type="video/mp4" id="output-video-path" src="{{ url_for('static', filename='imgs/cropped_video_output.mp4') }}"> -->
        <!-- </video> -->


        <!-- <img id="snapshot"  class="column"></img> snapshot of the cropped, clicked frame--> 
    </div>
    <br>
    <div id="controls">
        <button id="playpause" onclick="play()">Play/pause</button>
    </div>
    <br>
    <div id="controls">
        <button id="refresh" onclick="deleteFileAndReload()">Refresh</button>
    </div>

    <br> 
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>